@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

body{
    font-family: 'Karla', 'Work Sans', sans-serif;
}

header{
    position: fixed;
    display: grid;
    width: 100vw;
    grid-template-columns: 150px auto;
    background: rgb(26, 61, 119);
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav a{
    display: flex;
    align-items: center;
    padding-left: calc(0.6em + 1.5vmin);
    padding-right: calc(0.6em + 1.5vmin);
    color: #ffd166;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: transform 0.2s;
    font-size: calc(0.5em + 1.5vmin);
}

nav a:hover{
    color: rgb(26, 61, 119);
    transform: scale(1.1);
    background: rgb(255,209,102)
}

.logo{
    width: 8vmin;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 5vw;
    height: 90vh;
}

#r-message{
    color: rgb(26, 61, 119);
    text-align: center;
    font-family: 'Montserrat', 'Manrope', sans-serif;
    font-size: 1.5vmax;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    min-width: 35vw;
    height: 50vh;
    display:flex;
    align-items:center;
    /* Form outline */
    padding: 1em;
    border-radius: 1em;
    font-family: 'Karla', 'Work Sans', sans-serif;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 2em;
  }

  #line1 {
    display: flex;
    flex-direction: row;
  }

  #line1 input{
    border: 1px solid #999;
    width: 9.7vw;
    border-radius: 8px;
    height: 2.5em;
  }

  #line1 label{
    align-self: center;
  }

  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
    align-self: center;
  }
  
  #line2 input, textarea, #line3 input, textarea, #line4 input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 25vw;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;

    align-items: center;

    height: 2.5em;

    border-radius: 8px;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  

  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 8em;
  }
  
  .button {
    text-align: center;
    padding-left: 4em;
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
    border-color: rgb(26, 61, 119);
    background-color: rgb(26, 61, 119);
    cursor:pointer;
    height: 4vh;
    color: white;
    font-family: 'Montserrat', 'Manrope', sans-serif;
    font-weight: 600;
    
  }

  button:hover{
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
  }

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

footer{ 
    position: fixed;
    height: 3vh;
    background-color: red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(26, 61, 119);
    padding: 25px 50px;
}

footer p, p a{
    color: white;
    text-decoration: none;
    font-size: calc(0.3em + 1.5vmin);
}

footer p a:hover{
    color: #ffd166;
    text-decoration: underline;
}

.social{
    overflow-y: hidden;
}

.social a{
    padding-left: 0.3vw;
    padding-right: 0.3vw;
}

.social img{
    width: 2vw;
    transition: transform 0.2s;
}

.social img:hover{
    transform: scale(1.2);
}

@media all and (min-width: 1024px) and (max-width: 1280px) {

    footer p, p a{
        color: white;
        text-decoration: none;
        font-size: calc(0.6em + 1.2vmin);
    }

    .social img{
        width: calc(1.5em + 1.5vmin);
        transition: transform 0.2s;
    }

    footer{
        padding: 8px;
    }

    #line2 input, textarea, #line3 input, textarea, #line4 input, textarea {

        font: 1em sans-serif;
      
        width: 70vw;
    
        height: 5.5em;
    
        border-radius: 4px;
    }

    #line1 input{
        border-radius: 4px;
        width: 70vw;
        height: 5.5em;
    }
    
    #line1{
        flex-direction: column;
    }

    #part2{
        margin-top: 2em;
    }

    label{
        font-size: calc(1em + 1.1vmin);
        width: 130px;
        text-align: center;
    }

    form{
        margin-top: -50vh;
        width: 90vw;
        margin-left: 5vw;
    }

    #content{
    height: 100vh;
    }

    button {
        /* This extra margin represent roughly the same space as the space
           between the labels and their text fields */
        margin-left: 100px;
        border-color: rgb(26, 61, 119);
        background-color: rgb(26, 61, 119);
        cursor:pointer;
        width: 50vw;
        height: 6vh;
        color: white;
        font-family: 'Montserrat', 'Manrope', sans-serif;
        font-weight: 600;
        font-size: calc(2em + 1.5vmin);
      }

    .button {
        margin-top: 150px;
        text-align: center;
        padding: 0;
    }

    header{
        grid-template-columns: 200px auto;
    }

    nav a{
        padding-left: calc(0.2em + 1.1vmin);
        padding-right: calc(0.2em + 1.1vmin);
        font-size: calc(0.9em + 1.5vmin);
    }

    nav{
        display: flex;
        justify-content: space-around;
        margin-right: 6vw;
    }

 }

@media all and (min-width: 768px) and (max-width: 1024px) {

    footer p, p a{
        color: white;
        text-decoration: none;
        font-size: calc(0.3em + 1.2vmin);
    }

    .social img{
        width: calc(0.5em + 1.5vmin);
        transition: transform 0.2s;
    }

    footer{
        padding: 8px;
    }

    #line2 input, textarea, #line3 input, textarea, #line4 input, textarea {

        font: 1em sans-serif;
      
        width: 60vw;
    
        height: 2.5em;
    
        border-radius: 4px;
    }

    #line1 input{
        border-radius: 4px;
        width: 60vw;
        height: 2.5em;
    }
    
    #line1{
        flex-direction: column;
    }

    #part2{
        margin-top: 2em;
    }

    label{
        font-size: calc(1em + 1.1vmin);
        width: 130px;
        text-align: center;
    }

    form{
        margin-top: -30vh;
        width: 90vw;
        margin-left: 5vw;
    }

    #content{
    height: 100vh;
    }

    button {
        /* This extra margin represent roughly the same space as the space
           between the labels and their text fields */
        margin-left: 100px;
        border-color: rgb(26, 61, 119);
        background-color: rgb(26, 61, 119);
        cursor:pointer;
        height: 6vh;
        color: white;
        font-family: 'Montserrat', 'Manrope', sans-serif;
        font-weight: 600;
        font-size: calc(1em + 1.5vmin);
      }

    .button {
        margin-top: 150px;
        text-align: center;
        padding: 0;
    }

    header{
        grid-template-columns: 100px auto;
    }

    nav a{
        padding-left: calc(0.2em + 1.1vmin);
        padding-right: calc(0.2em + 1.1vmin);
        font-size: calc(0.5em + 1.5vmin);
    }

    nav{
        display: flex;
        justify-content: space-around;
        margin-right: 6vw;
    }

 }

@media all and (min-width: 480px) and (max-width: 768px) { 
    footer p, p a{
        color: white;
        text-decoration: none;
        font-size: calc(0.3em + 1.2vmin);
    }

    .social img{
        width: calc(0.5em + 1.5vmin);
        transition: transform 0.2s;
    }

    footer{
        padding: 8px;
    }

    #line2 input, textarea, #line3 input, textarea, #line4 input, textarea {

        font: 1em sans-serif;
      
        width: 50vw;
    
        height: 1.5em;
    
        border-radius: 4px;
    }

    #line1 input{
        border-radius: 4px;
        width: 50vw;
        height: 1.5em;
    }
    
    #line1{
        flex-direction: column;
    }

    #part2{
        margin-top: 2em;
    }

    label{
        font-size: calc(0.6em + 1.1vmin);
        width: 70px;
        text-align: center;
    }

    form{
        margin-top: -30vh;
        width: 80vw;
        margin-left: 5vw;
    }

        #content{
        height: 100vh;
    }

    button {
        /* This extra margin represent roughly the same space as the space
           between the labels and their text fields */
        margin-left: 0.5em;
        border-color: rgb(26, 61, 119);
        background-color: rgb(26, 61, 119);
        cursor:pointer;
        height: 4vh;
        color: white;
        font-family: 'Montserrat', 'Manrope', sans-serif;
        font-weight: 600;
        
      }

    .button {
        text-align: center;
        padding: 0;
    }

    header{
        grid-template-columns: 40px auto;
    }

    nav a{
        padding-left: calc(0.2em + 1.1vmin);
        padding-right: calc(0.2em + 1.1vmin);
        font-size: calc(0.3em + 1.5vmin);
    }

    nav{
        display: flex;
        justify-content: space-around;
        margin-right: 6vw;
    }
}

@media all and (max-width: 480px) { 

    footer p, p a{
        color: white;
        text-decoration: none;
        font-size: calc(0.3em + 1.2vmin);
    }

    .social img{
        width: calc(0.3em + 1.5vmin);
        transition: transform 0.2s;
    }

    footer{
        padding: 8px;
    }

    #line2 input, textarea, #line3 input, textarea, #line4 input, textarea {

        font: 1em sans-serif;
      
        width: 50vw;
    
        height: 1.5em;
    
        border-radius: 4px;
    }

    #line1 input{
        border-radius: 4px;
        width: 50vw;
        height: 1.5em;
    }
    
    #line1{
        flex-direction: column;
    }

    #part2{
        margin-top: 2em;
    }

    label{
        font-size: calc(0.6em + 1.1vmin);
        width: 70px;
        text-align: center;
    }

    form{
        margin-top: -30vh;
        width: 80vw;
        margin-left: 5vw;
    }

        #content{
        height: 100vh;
    }

    button {
        /* This extra margin represent roughly the same space as the space
           between the labels and their text fields */
        border-color: rgb(26, 61, 119);
        background-color: rgb(26, 61, 119);
        cursor:pointer;
        height: 4vh;
        color: white;
        font-family: 'Montserrat', 'Manrope', sans-serif;
        font-weight: 600;
        
      }

    .button {
        text-align: center;
        padding: 0;
    }

    header{
        grid-template-columns: 40px auto;
    }

    nav a{
        padding-left: calc(0.2em + 1.1vmin);
        padding-right: calc(0.2em + 1.1vmin);
        font-size: calc(0.3em + 1.5vmin);
    }

    nav{
        display: flex;
        justify-content: space-around;
        margin-right: 6vw;
    }
}