@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Karla', 'Work Sans', sans-serif;
    background-color: white;
    font-size: 16px;
}

header{
    position: fixed;
    display: grid;
    width: 100vw;
    grid-template-columns: 150px auto;
    background: linear-gradient(to bottom, rgb(26, 61, 119) 20%,rgba(0,0,0,0) 100%);
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav a{
    display: flex;
    align-items: center;
    padding-left: calc(0.6em + 1.5vmin);
    padding-right: calc(0.6em + 1.5vmin);
    color: #ffd166;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: transform 0.2s;
    font-size: calc(0.5em + 1.5vmin);
}

nav a:hover{
    color: white;
    transform: scale(1.1);
    background: linear-gradient(to bottom, rgb(255,209,102) 0%,rgba(0,0,0,0) 100%);
}

.logo{
    width: 8vmin;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: #adadad;
    color: white;
    background-image: url(../images/rafting1.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

.container h1{
    font-size: 4.8vw;
    text-align: center;
}

.container h4{
    width:fit-content;
    font-size: 3vw;
    margin: 30px auto;
    padding: 20px;
    border: solid white 5px;
    border-radius: 15px;
    text-align: center;
}

.container{
    border-radius: 20px;
    background-color: rgb(26, 61, 119, 0.7);
    max-width: 1200px;
    padding: 5rem 1rem 5rem 1rem;
}

.river-l1, .river-l2{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 209, 102, 0.7) 
}

.river-l1 img, .river-l2 img{
    box-shadow: 20px 25px 25px rgb(26, 61, 119);
    margin: 0 auto;
    width: 45vw;
}

.river-r{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 61, 119, 0.7);; 
}

.river-desc{
    margin: 0 auto;
    width: 45vw;
}

.river-desc h2{
    margin-bottom: 20px;
    font-size: 4vw;
}

.river-desc p{
    margin-top: 40px;
    font-size: 1.5vw;
}

.river-r{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center; 
}

.river-r img{
    box-shadow: 10px 10px 35px rgb(255, 209, 102);
    margin: 0 auto;
    width: 45vw;
}

footer{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #23878a;
    color: white;
    padding: 25px 50px;
    background: linear-gradient(to top, rgb(26, 61, 119) 0%,rgb(255, 209, 102, 0.7) 100%);
}

footer p, p a{
    color: white;
    text-decoration: none;
    font-size: 1vw;
}

footer p a:hover{
    color: #ffd166;
    text-decoration: underline;
}

.social{
    overflow-y: hidden;
}

.social a{
    padding-left: 0.3vw;
    padding-right: 0.3vw;
}

.social img{
    width: 2vw;
    transition: transform 0.2s;
}

.social img:hover{
    transform: scale(1.2);
}

@media all and (min-width: 768px) and (max-width: 1024px) { 

    nav a{
        font-size: calc(0.3em + 1.5vmin);
        padding-left: calc(0.4em + 1.5vmin);
        padding-right: calc(0.4em + 1.5vmin);
    }

    .river-desc p{
        font-size: 3.8vw;
    }

    .river-desc h2{
        font-size: 5vw;
    }

    footer p, p a{
        padding-left: 0.6vw;
        padding-right: 0.6vw;
        font-size: 2vw;
    }

    footer{ 
        justify-content: flex-start;
        padding: 25px 20px;
    }

    .social img{
        width: 5vw;
    }

    .social{
        margin-left: 6vw;
    }

    .river-l1, .river-l2, .river-r, #hero{
        height: 60vh;
    }

}

@media all and (min-width: 480px) and (max-width: 768px) { 

    .river-desc p{
        font-size: 4.5vw;
    }

    .river-desc h2{
        font-size: 6.5vw;
    }

    footer p, p a{
        padding-left: 0.8vw;
        padding-right: 0.8vw;
        font-size: 2vw;
    }

    footer{ 
        justify-content: flex-start;
        padding: 25px 20px;
    }

    .social img{
        width: 5vw;
    }

    .social{
        margin-left: 6vw;
    }

    .river-l1, .river-l2, .river-r, #hero{
        height: 60vh;
    }

}

@media screen and (max-width: 480px) {
    
    nav a{
        font-size: calc(0.3em + 1.5vmin);
        padding-left: calc(0.4em + 1.5vmin);
        padding-right: calc(0.4em + 1.5vmin);
    }

    .river-desc p{
        font-size: 4.5vw;
    }

    .river-desc h2{
        font-size: 6.5vw;
    }

    footer p, p a{
        padding-left: 0.8vw;
        padding-right: 0.8vw;
        font-size: 2vw;
    }

    footer{ 
        justify-content: flex-start;
        padding: 25px 20px;
    }

    .social img{
        width: 5vw;
    }

    .social{
        margin-left: 6vw;
    }

    .river-l1, .river-l2, .river-r, #hero{
        height: 60vh;
    }
 }