section {
    width: 50%;
    border: 1px solid;
}
  
.block2{
    margin: 0 auto;
}

.block3{
    margin-left: auto; 
    margin-right: 0;
}

.block4{
    margin: 0 auto;
}

p:nth-of-type(2) {
    text-align: center;
}

p:nth-of-type(3) {
    text-align: right;
}

#p1{
    text-align: right;
}

#p2{
    text-align: center;
}

#p3, #p4{
    text-align: left;
}